{
  "arrowParens": "always",
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "importOrder": [
    "^(.*)\\.polyfill$",
    "^(.*)\\.patch$",
    "^react(.*)",
    "^next(.*)",
    "^@mui(.*)",
    "<THIRD_PARTY_MODULES>",
    "^@/components(.*)",
    "@/(.*)",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
